@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Lato&display=swap");
@font-face {
    font-family: 'Bruno Ace SC Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Bruno Ace SC Regular"), url("../fonts/BrunoAceSC-Regular.woff") format("woff");
}